@*View to see all identity user, values come from RoleController*@
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

<section class="header-text">
    <h1>@ViewData["Title"]</h1>
</section>

<div class="container mt-5 mb-5">
    <a asp-action="Create" class="btn btn-primary mb-3"><i class="bi bi-plus-lg"></i>Create a Role</a>
  
    <table class="table">
        @*Create table headlines*@
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Users</th>
            <th>Actions</th>
        </tr>
        @*Loop through all users, and show details*@
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                @*i-role is a Custom Tag Helper, to show list of all users, who are members of a role*@
                <td i-role="@role.Id"></td>
                @*Edit selected user*@
                <td>
                    <div class="action-buttons">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@role.Id">Edit</a>
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

