@model IEnumerable<SurfsUp.Models.Board>

@{
    ViewData["Title"] = "Boards inventory";
}

<h1>Boards inventory</h1>

<p>
    <a class="Create_bt" asp-action="Create">Create New</a>
</p>
    <div class="container">
        <div class="row">
@foreach (var item in Model)
{
            <div class="col-3">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic-1" src=~/Images/TheMinilog.jpg>
                        </a>
                        <span class="product-sale-label">@Html.DisplayFor(modelItem => item.BoardName)</span>
                        <ul class="social">
                            <li><a class="Funtion_bt" asp-action="Edit" asp-route-id="@item.BoardId">Edit</a></li>
                            <li><a class="Funtion_bt" asp-action="Details" asp-route-id="@item.BoardId">Details</a></li>
                            <li><a class="Funtion_bt" asp-action="Delete" asp-route-id="@item.BoardId">Delete</a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <span class="product-category"><a href="#">@Html.DisplayNameFor(model => model.Type)</a></span>
                        <h3 class="title"><a href="#">@Html.DisplayFor(modelItem => item.Type)</a></h3>
                        <div class="price">@Html.DisplayFor(modelItem => item.Price)</div>
                    </div>
                </div>
            </div>
}
        </div>
    </div>
