@model SurfsUp.Models.BoardTypeViewModel
@{
    ViewData["Title"] = "Surfboards";
}

<section class="header-text">
    <h1 class="text-center">Manage Boards</h1>
</section>

<div class="container">
    <div class="actions">
        <div class="createNewBoard">
            <a class="btn btn-primary" asp-action="Create">Add new board</a>
        </div>
        <div class="searchBox">
            <form asp-action="Index" method="get">
                <div class="input-group mb-3">
                    <input type="text" id="SearchString" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" placeholder="Boardname...">
                    <select class="form-select" asp-for="BoardType" asp-items="Model.Types">
                        <option value="">All</option>
                    </select>
                    <button type="submit" class="btn btn-dark">Search</button>
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Boards)
            {
                <tr>
                    <td><img height="64px" src="@Url.Content(item.Picture)" /></td>
                    <td>@Html.DisplayFor(modelItem => item.BoardName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>@Html.DisplayFor(modelItem => item.State)</td>
                    <td>
                        <div class="action-buttons">
                            <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.BoardId">Edit</a>
                            <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.BoardId">Details</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.BoardId">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

